name: Test matHELICS

on:
  push:
  pull_request:
    branches:
      - main
  workflow_dispatch:
  #schedule:
  #  - cron: "35 10 * * 1,3,5 # running early in the morning (UTC)

jobs:
  ci-test:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2019,macos-13,ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Install latest HELICS release
        uses: gmlc-tdc/helics-action/install@main
      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v1.1.1
        with:
          release: R2021a
      - name: Set up MEX
        uses: matlab-actions/run-command@v1
        with:
          command: mex -setup
      - name: Build matHELICS
        uses: matlab-actions/run-command@v1
        with:
          command: buildHelicsInterface('helics',true)
      - name: store package
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.os }}-matHELICS
          path: matHELICS.*
      - name: run startup
        uses: matlab-actions/run-command@v1
        with:
          command: addpath('helics'), helicsStartup
      - name: run tests
        uses: matlab-actions/run-command@v1
        with:
          command: addpath('tests'),addpath('helics'),runAllTests

