name: Test matHELICS

on:
  push:
  pull_request:
    branches:
      - main
  workflow_dispatch:
  #schedule:
  #  - cron: "35 10 * * 1,3,5 # running early in the morning (UTC)

jobs:
  ci-test:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest,macos-latest,ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Install latest HELICS release
        uses: gmlc-tdc/helics-action/install@main
      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v1.1.1
      - name: Set up MEX
        uses: matlab-actions/run-command@v1
        with:
          command: mex -setup
      - name: Build matHELICS
        uses: matlab-actions/run-command@v1
        with:
          command: buildHelicsInterface 
      - name: run startup
        uses: matlab-actions/run-command@v1
        with:
          command: helicsStartup
      - name: run tests
        uses: matlab-actions/run-command@v1
        with:
          command: addpath('tests'),addpath(pwd),runAllTests
      - name: store mex file
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.os }}-mex
          path: helicsMex.mex*
